* {
    font-family: Roboto;
}

body {
    display: flex;
    /* flex-grow:0; */
    flex-direction: column;
    padding: 0px;
}

.header, .main_content {
    padding-left: 300px;
    padding-right: 300px;
}

.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border: 1px red solid;
}


.header .logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    font-family: Roboto;
}

.header ul {
    display: flex;
    list-style-type: none;
    gap: 24px;
    
}

.header a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: lighter;
    font-family: Roboto;
}

.main_content, .sign_content, .quote_content, .sign_content {
    flex: 1 0 auto;
}

.main_content {
    /* box-sizing: border-box; */
    display:flex;
    background-color: #1F2937;
    justify-content: space-between;
    height: 400px;
    flex-shrink: 0;
    align-items: center;

}

.main_content .hero_image {
    height: 230px;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
}

.main_content .hero_image img {
    height: 200px;
    width: 450px;
    flex-shrink: 0;
}

.main_content button {
    flex-grow: 0;
}

.main_content .text_content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 400px;
    gap: 0px;
    /* padding: 0px; */
}

.main_content .text_content .hero_title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    padding: 0px;
    margin-bottom: 4px;
}

.main_content .text_content .hero_text {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: lighter;
    padding: 0px;
    margin-bottom: 8px;
}

.main_content .text_content button {
    cursor: pointer;
    padding: 8px 32px;
    border-radius: 8px;
}

.main_content .text_content button.log-in-button {
    /* display: flex; */
    background: #3882F6;
    /* border-radius: 50%; */
    border: 1px solid royalblue;
    color: white;
}


.items_content {
    /* box-sizing: border-box; */
    /* border: 2px red solid; */
    display:flex;
    height: 400px;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.items_content .items_title {
    /* border: 2px red solid; */
    color: #1F2937;
    font-weight: 800;
    font-size: 36px;
}

.items_content .cards {
    display: flex;
    /* border: 2px red solid; */
    align-self: stretch;
    justify-content: center;
    gap: 32px;
}

.items_content .cards .card1 {
    /* border: 2px red solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 170px;
    text-align:center;
    color: #1F2937;
}

.items_content .cards img {
    width: 170px;
    height:170px;
    border: 2px solid royalblue;
    border-radius: 10%;
}

.quote_content {
    display: flex;
    height: 400px;
    flex-shrink: 0;
    background-color: #E5E7EB;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote_content .quote_text {
    font-size: 36px;
    color: #1f2937;
    font-family: Roboto;
    font-weight: 300;
    font-style: italic;
    width: 800px;
    margin-bottom: 8px;
}

.quote_content .quote_by {
    display: flex;
    width: 800px;
    font-weight: 700;
    color: #1f2937;
    padding-right: 50px;
    font-size: 20px;
    justify-content: flex-end;
}

.sign_content {
    display: flex;
    direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;  
    padding: 0px;
    margin: 0;
}

.sign_content .call_to_action {
    margin:0;
    display: flex;
    flex-shrink: 0;
    background-color: #3882F6;
    width: 1000px;
    height: 150px;
    border: 1px solid #3882F6;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    gap: 250px;
}

.sign_content .call_to_action .call_left {
    color: white;
}

.sign_content .call_to_action .call_left .sign_head {
    font-size: 24px;
    font-weight: 500;
}

.sign_content .call_to_action .call_left .sign_text {
    font-size: 18px;
    font-weight: 300;
}

.sign_content .call_to_action .call_sign button{
    cursor: pointer;
    padding: 8px 32px;
    border-radius: 8px;
}

.sign_content .call_to_action .call_sign button.call_to_login {
    border-radius: 10px;
    color: white;
    border-color: white;
    background: #3882F6;
    border: 2px solid white;
}

.footer {
    border: red solid 1px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    background-color: #1F2937;
    align-items: center;
    color: white;
    font-size: 12px;
    height: 50px;
}


